body {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    vertical-align: middle;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.navbar-brand {
    color: white;
}

.header-shop {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list-group {
    margin-top: 20px;
    margin-left: 30px;
    padding: 0;
}

.header-basket {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-block {
    width: 20%;
    text-align: center;
    align-self: center;
}

.desc-book {
    padding: 15px;
    width: 75%;
    display: block;
    margin-left: 15px;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.list-group .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.current-btn {
    background: #eb6864;
    border-color: #e53c37;
}

.card-title {
    width: 70%;
}

.card {
    flex-direction: row; 
    border: 0;
    border-radius: 15px;
}

.desc-book {
    font-size: 28px;
}

span, p, .lead {
    font-size: 18px;
    padding: 0;
}

.lead {
    line-height: 20px;
}

.paginaor {
    display: flex;
    justify-content: flex-end;
    max-width: 1215px;
}

.bnt-basket {
    display: flex;
    justify-content: flex-end;
}

.tabel-footer {
    text-align: end;
}

.basket-desc {
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

.basket-info {
    display: flex;
    align-items:baseline;
}

.title-order {
    padding-top: 20px;
    margin: 0;
    padding-left: 20px;
}

.form-order {
    padding-top: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

.order-fieldset {
    padding: 25px;
    max-width: 50%;
}

.order-legend {
    width: auto;
    margin: 0;
    padding: 5px;
    padding-left: 0;
}

.order-block {
    display: flex;
    flex-direction: column;
}

.order-input-personal {
    min-width: 20%;
    max-width: 65%;
}

.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
    color: green;
}

.input-validatiion-error {
    border: 1px solid red;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.5);
}

.input-validatiion-valid {
    display: none;
    border: 1px solid green;
    border-radius: 5px;
    background: rgba(0, 255, 0, 0.5);
}

.validation-summary-error {
    font-weight: bold;
    color: red;
}

.validation-summary-error {
    display: none;
}

.header-admin {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #e6e6e6;
    margin-bottom: 15px;
    align-items: center;
}

.title-admin {
    padding: 20px 50px;
}

.btn-create {
    display: inline;
    padding: 10px 20px;
    margin-right: 50px;
}

.cont {
    margin: 0 200px;
}